#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_StackPopError, "Stack pop error"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_InvalidOperandType, "Invalid operand type - [%s]"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_InvalidOperands, "Invalid operands"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_DivideByZero, "Divide by zero"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_InvalidFunctionIndex, "Invalid function index - [%d]"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_InvalidFunctionParamsCount, "Invalid function parameters count - [%d] (must - from %d to %d)"
  svgrResStringsBase + svgrid_vgr_FormulaCalculator_InvalidCellReference, "Invalid cell reference"
}
