#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_ScriptControl_Error_run_procedure, "Error on executing procedure %s, code %d"
  svgrResStringsBase + svgrid_vgr_ScriptControl_Error_constant_already_exists, "Constant %s already exists"
}
 