#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_SaveChanges, "Save changes to '%s'?"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_NewDocCaption, "Workbook"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookTabSheetCaption, "Workbook"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_DeleteLastSheetErrorMessage, "A workbook must contain at least one worksheet.\rTo delete the selected sheet, you must first insert a new sheet."
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_DeleteNotEmptySheetWarning, "Data may exist in the sheet selected for deletion.\rTo permanently delete the data, press OK."
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_RowHeightFormCaption, "Row height"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_RowHeightFormText, "Height:"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_ColWidthFormCaption, "Column width"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_ColWidthFormText, "Width:"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookOpenSaveDialogFilter, "GridReport worbooks (*.grw)|*.grw|All files (*.*)|*.*"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookOpenSaveDefaultExt, "grw"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_Modified, "Modified"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_NotModified, ""
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__vgrWorkbookDesignerForm__Caption, "vgrWorkbookDesignerForm"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__tbStandard__Caption, "Standard"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__tbFormatting__Caption, "Formatting"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__PGrid__Caption, "Grid"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__File1__Caption, "&File"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Edit1__Caption, "&Edit"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Clear1__Caption, "C&lear"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__View1__Caption, "&View"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__mToolbars__Caption, "&Toolbars"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Insert1__Caption, "&Insert"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Format1__Caption, "&Format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Row2__Caption, "&Row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Column2__Caption, "&Column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Sheet2__Caption, "&Sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOpen__Caption, "&Open..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOpen__Hint, "Open"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aNew__Caption, "&New"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aNew__Hint, "New"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSave__Caption, "&Save"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSave__Hint, "Save"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSaveAs__Caption, "S&ave as.."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSaveAs__Hint, "Save as"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aExit__Caption, "E&xit"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aExit__Hint, "Exit"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCut__Caption, "Cu&t"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCut__Hint, "Cut"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCopy__Caption, "&Copy"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCopy__Hint, "Copy"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPaste__Caption, "&Paste"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPaste__Hint, "Paste"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPageSetup__Caption, "Page set&up..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPageSetup__Hint, "Page setup"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPrintPreview__Caption, "Print pre&view"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPrintPreview__Hint, "Print preview"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelRow__Caption, "Delete &row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelRow__Hint, "Delete row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelCol__Caption, "Delete &column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelCol__Hint, "Delete column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelSheet__Caption, "Delete &sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelSheet__Hint, "Delete sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertRow__Caption, "&Row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertRow__Hint, "Insert row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertColumn__Caption, "&Column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertSheet__Caption, "&Sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertSheet__Hint, "Insert sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCell__Caption, "&Cell..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCell__Hint, "Format cell"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHeight__Caption, "&Height..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHeight__Hint, "Row height"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowAutoHeight__Caption, "&Auto height"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowAutoHeight__Hint, "Row auto height"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHide__Caption, "H&ide"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHide__Hint, "Hide row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowShow__Caption, "&Show"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowShow__Hint, "Show row"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColWidth__Caption, "&Width..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColWidth__Hint, "Column width"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColAutoWidth__Caption, "&Auto width"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColAutoWidth__Hint, "Column auto width"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColHide__Caption, "H&ide"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColHide__Hint, "Hide column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColShow__Caption, "&Show"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColShow__Hint, "Show column"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSheetRename__Caption, "&Rename..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSheetRename__Hint, "Rename sheet"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontBold__Caption, "Bold"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontBold__Hint, "Bold"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontItalic__Caption, "Italic"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontItalic__Hint, "Italic"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontUnderline__Caption, "Underline"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontUnderline__Hint, "Underline"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignLeft__Caption, "Left"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignLeft__Hint, "Left"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignHorzCenter__Caption, "Center"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignHorzCenter__Hint, "Center"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignRight__Caption, "Right"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignRight__Hint, "Right"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aMerge__Caption, "Merge"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aMerge__Hint, "Merge"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCurrency__Caption, "Currency format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCurrency__Hint, "Currency format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatPercent__Caption, "Percent format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatPercent__Hint, "Percent format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatSeparator__Caption, "Separated format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatSeparator__Hint, "Separated format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatDownDec__Caption, "Down dec"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatDownDec__Hint, "Down dec"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatUpDec__Caption, "Up dec"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatUpDec__Hint, "Up dec"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFillBackColor__Caption, "Background"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFillBackColor__Hint, "Fill background color"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontColor__Caption, "Font color"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontColor__Hint, "Font color"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAll__Caption, "&All"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAll__Hint, "All"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAllFormats__Caption, "&Format"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearDisplayFormat__Caption, "&Display formats"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearValue__Caption, "&Value"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearBorders__Caption, "&Borders"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewHeaders__Caption, "&Headers"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewHeaders__Hint, "Headers"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewFormula__Caption, "&Formula"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewFormula__Hint, "Formula"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOptions__Caption, "&Options..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOptions__Hint, "Options"
}
 