#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaAuto, "Auto"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaLeft, "Left"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaCenter, "Center"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaRight, "Right"

  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaTop, "Top"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaCenter, "Center"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaBottom, "Bottom"

  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_MergeWarning, "The slection contains multiple data values. Merging into one cell will keep the\13upper-left most data only"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryNumeric, "Numeric"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryDate, "Date"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryTime, "Time"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryDateTime, "DateTime"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryText, "Text"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryAll, "All"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryCommon, "Common"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_SelectCategoryMessage, "Please select category of formats."
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_NoFormatMessage, "Value are displayed without formatting."
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrCellPropertiesForm__Caption, "Format cells"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bOk__Caption, "OK"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bCancel__Caption, "Cancel"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Alignment__Caption, "Alignment"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__TabSheet1__Caption, "Font"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__TabSheet2__Caption, "Border"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Patterns__Caption, "Patterns"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label1__Caption, "Text alignment"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label6__Caption, "Text control"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label14__Caption, "Presets"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label16__Caption, "Border"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label22__Caption, "Cell shading"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label3__Caption, "&Horizontal:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label4__Caption, "&Vertical:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label2__Caption, "&degrees"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label5__Caption, "Rotate angle:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label7__Caption, "&Font:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label8__Caption, "Font style:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label9__Caption, "S&ize:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label10__Caption, "&Color:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label24__Caption, "C&harset:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__FontPreview__Caption, "AaBbCcYyZz"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label20__Caption, "The selected border style can be applied by clicking the presets or the buttons above."
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label17__Caption, "None"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label18__Caption, "Outline"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label19__Caption, "Inside"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label21__Caption, "&Color:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label11__Caption, "&Style:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label12__Caption, "&Width:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label13__Caption, "&Back color:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label15__Caption, "&Fore color:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label23__Caption, "Brush &style:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bDefault__Caption, "Default"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbWrapText__Caption, "&Wrap text"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbMergeCells__Caption, "&Merge cells"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleBold__Caption, "&Bold"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleItalic__Caption, "&Italic"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleUnderline__Caption, "&Underline"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleStrikeout__Caption, "&Strikeout"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox1__Caption, "Orientation"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox3__Caption, "Preview"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox4__Caption, "Line"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox2__Caption, "Preview"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bAddFormat__Caption, "&Add"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bDeleteFormat__Caption, "&Delete"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Formats__Caption, "Formats"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrBevelLabel1__Caption, "&Formats: "
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrBevelLabel2__Caption, "&Type: "
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label26__Caption, "*"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox5__Caption, " Example: "
}
 
