#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_HF_Page, "Page %s"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_HF_PageOf, "Page %s of %s"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_MetricSystem, "Metric"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_USASystem, "USA"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_PaperSizeCaptionMask, "Paper size: %s x %s %s"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrPageSetupDialogForm__Caption, "Page setup"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label1__Caption, "&Printer:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label3__Caption, "x"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label6__Caption, "Left:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label7__Caption, "Right:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label8__Caption, "Top:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label9__Caption, "Bottom:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label10__Caption, "&Bottom:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label11__Caption, "&Right:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label12__Caption, "&Top:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label13__Caption, "&Left:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label16__Caption, "Default column &width:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label17__Caption, "Defaul row &height:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label15__Caption, "Label15"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PPage__Caption, "Page"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PMargins__Caption, "Margins"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PDefaults__Caption, "Defaults"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label2__Caption, "Page &size"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label4__Caption, "Page orientation"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label5__Caption, "Printer minimum margins"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label14__Caption, "Page margins"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPredefinedPageSize__Caption, "&Pre-defined size:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbCustomPageSize__Caption, "&Custom size:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPagePortrait__Caption, "P&ortrait"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPageLandscape__Caption, "&Landscape"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bOk__Caption, "OK"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCancel__Caption, "Cancel"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label18__Caption, "Height:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label19__Caption, "Height:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PHeaderFooter__Caption, "Header/Footer"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrBevelLabel1__Caption, "Header: "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrBevelLabel2__Caption, "Footer: "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCustomHeader__Caption, "Custom..."
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCustomFooter__Caption, "Custom..."
}
 