#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_WorkbookPreviewForm_StatusBarFormatMask, "Page %d from %d"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__vgrWorkbookPreviewForm__Caption, "vgrWorkbookPreviewForm"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPrint__Caption, "Print"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPrint__Hint, "Print"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aEditPageParams__Caption, "Page params"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aEditPageParams__Hint, "Edit page params"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomPageWidth__Caption, "Page width"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomPageWidth__Hint, "Page width"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomWholePage__Caption, "Whole page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomWholePage__Hint, "Whole page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoom100Percent__Caption, "Real size"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoom100Percent__Hint, "Real size"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aFirstPage__Caption, "First page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aFirstPage__Hint, "First page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPriorPage__Caption, "Prior page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPriorPage__Hint, "Prior page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNextPage__Caption, "Next page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNextPage__Hint, "Next page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aLastPage__Caption, "Last page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aLastPage__Hint, "Last page"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aHandTool__Caption, "Hand Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aHandTool__Hint, "Hand Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomInTool__Caption, "Zoom In Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomInTool__Hint, "Zoom In Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomOutTool__Caption, "Zoom Out Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomOutTool__Hint, "Zoom Out Tool"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNoneTool__Caption, "Default"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNoneTool__Hint, "Default"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__CloseSpeedButton__Hint, "Close"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__CloseSpeedButton__Caption, "Close"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomTwoPages__Caption, "Two pages"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomTwoPages__Hint, "Two pages"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__Hint, "Multi pages"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__CloseCaption, "Close"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__PagesCaption, "Pages: %d x %d"
}
 