#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_HF_Page, "Страница %s"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_HF_PageOf, "Страница %s из %s"

  svgrResStringsBase + svgrid_vgr_PageSetupDialog_MetricSystem, "в миллиметрах"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_USASystem, "в дюймах"
  svgrResStringsBase + svgrid_vgr_PageSetupDialog_PaperSizeCaptionMask, "Размер бумаги: %s x %s %s"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrPageSetupDialogForm__Caption, "Параметры страницы"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label1__Caption, "&Принтер:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label3__Caption, "x"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label6__Caption, "Левое:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label7__Caption, "Правое:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label8__Caption, "Верхнее:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label9__Caption, "Нижнее:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label10__Caption, "&Нижнее:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label11__Caption, "&Правое:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label12__Caption, "&Верхнее:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label13__Caption, "&Левое:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label16__Caption, "&Ширина столбцов по умолчанию:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label17__Caption, "&Высота строк по умолчанию:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label15__Caption, "Label15"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PPage__Caption, "Страница"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PMargins__Caption, "Поля"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PDefaults__Caption, "По умолчанию"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label2__Caption, "Размер бумаги "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label4__Caption, "Ориентация "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label5__Caption, "Минимальные поля принтера"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label14__Caption, "Поля страницы"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPredefinedPageSize__Caption, "&Формат:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbCustomPageSize__Caption, "Нестандартный &размер:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPagePortrait__Caption, "К&нижная"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__rbPageLandscape__Caption, "&Альбомная"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bOk__Caption, "ОК"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCancel__Caption, "Отмена"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label18__Caption, "Высота:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__Label19__Caption, "Высота:"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__PHeaderFooter__Caption, "Колонтитулы"
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrBevelLabel1__Caption, "Верхний колонтитул: "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__vgrBevelLabel2__Caption, "Нижний колонтитул: "
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCustomHeader__Caption, "Параметры..."
  svgrResStringsBase + svgrid__vgr_PageSetupDialog__bCustomFooter__Caption, "Параметры..."
}
 