#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_SaveChanges, "Сохранить изменения в '%s'?"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_NewDocCaption, "Книга"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookTabSheetCaption, "Книга"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_DeleteLastSheetErrorMessage, "Книга должна содержать как минимум один лист.\rДля того, чтобы удалить выбранный лист, необходимо сначала вставить новый лист."
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_DeleteNotEmptySheetWarning, "В выбранном для удаления листе могут содержаться данные.\rДля удаления данных нажмите ОК."
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_RowHeightFormCaption, "Высота строки"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_RowHeightFormText, "Высота:"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_ColWidthFormCaption, "Ширина колонки"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_ColWidthFormText, "Ширина:"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookOpenSaveDialogFilter, "Книги GridReport (*.grw)|*.grw|Все файлы (*.*)|*.*"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_WorkbookOpenSaveDefaultExt, "grw"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_Modified, "Изменен"
  svgrResStringsBase + svgrid_vgr_WorkbookDesigner_NotModified, ""
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__vgrWorkbookDesignerForm__Caption, "Дизайнер книги GridReport"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__tbStandard__Caption, "Стандартная"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__tbFormatting__Caption, "Форматирование"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__PGrid__Caption, "Таблица"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__File1__Caption, "&Файл"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Edit1__Caption, "П&равка"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Clear1__Caption, "О&чистить"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__View1__Caption, "&Вид"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__mToolbars__Caption, "&Панели"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Insert1__Caption, "&Вставка"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Format1__Caption, "&Формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Row2__Caption, "&Строка"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Column2__Caption, "&Колонка"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__Sheet2__Caption, "&Лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOpen__Caption, "&Открыть..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOpen__Hint, "Открыть"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aNew__Caption, "&Создать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aNew__Hint, "Создать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSave__Caption, "&Сохранить"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSave__Hint, "Сохранить"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSaveAs__Caption, "С&охранить как.."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSaveAs__Hint, "Сохранить как"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aExit__Caption, "Вы&ход"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aExit__Hint, "Выход"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCut__Caption, "&Вырезать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCut__Hint, "Вырезать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCopy__Caption, "&Копировать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aCopy__Hint, "Копировать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPaste__Caption, "Вст&авить"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPaste__Hint, "Вставить"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPageSetup__Caption, "&Параметры страницы..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPageSetup__Hint, "Параметры страницы"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPrintPreview__Caption, "Предварительный п&росмотр"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aPrintPreview__Hint, "Предварительный просмотр"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelRow__Caption, "Удалить с&троку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelRow__Hint, "Удалить строку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelCol__Caption, "Удалить &столбец"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelCol__Hint, "Удалить столбец"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelSheet__Caption, "Удалить &лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aDelSheet__Hint, "Удалить лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertRow__Caption, "С&трока"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertRow__Hint, "Вставить строку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertColumn__Caption, "&Столбец"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertSheet__Caption, "&Лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aInsertSheet__Hint, "Вставить лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCell__Caption, "&Ячейка..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCell__Hint, "Параметры ячейки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHeight__Caption, "&Высота..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHeight__Hint, "Высота строки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowAutoHeight__Caption, "&Автоподбор высоты"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowAutoHeight__Hint, "Автоподбор высоты строки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHide__Caption, "&Скрыть"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowHide__Hint, "Скрыть строку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowShow__Caption, "&Показать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aRowShow__Hint, "Показать строку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColWidth__Caption, "&Ширина..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColWidth__Hint, "Ширина колонки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColAutoWidth__Caption, "&Автоподбор ширины"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColAutoWidth__Hint, "Автоподбор ширины колонки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColHide__Caption, "&Скрыть"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColHide__Hint, "Скрыть колонку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColShow__Caption, "&Показать"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aColShow__Hint, "Показать колонку"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSheetRename__Caption, "Пере&именовать..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aSheetRename__Hint, "Переименовать лист"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontBold__Caption, "Жирный"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontBold__Hint, "Жирный"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontItalic__Caption, "Курсив"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontItalic__Hint, "Курсив"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontUnderline__Caption, "Подчеркивание"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontUnderline__Hint, "Подчеркивание"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignLeft__Caption, "По левому краю"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignLeft__Hint, "По левому краю"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignHorzCenter__Caption, "По центру"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignHorzCenter__Hint, "По центру"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignRight__Caption, "По правому краю"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aAlignRight__Hint, "По правому краю"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aMerge__Caption, "Объединение"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aMerge__Hint, "Объединение"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCurrency__Caption, "Денежный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatCurrency__Hint, "Денежный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatPercent__Caption, "Процентный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatPercent__Hint, "Процентный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatSeparator__Caption, "Разделенный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatSeparator__Hint, "Разделенный формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatDownDec__Caption, "Уменьшить количество знаков"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatDownDec__Hint, "Уменьшить количество знаков"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatUpDec__Caption, "Увеличить количество знаков"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFormatUpDec__Hint, "Увеличить количество знаков"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFillBackColor__Caption, "Заливка"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFillBackColor__Hint, "Цвет заливки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontColor__Caption, "Цвет шрифта"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aFontColor__Hint, "Цвет шрифта"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAll__Caption, "&Всё"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAll__Hint, "Всё"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearAllFormats__Caption, "&Формат"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearDisplayFormat__Caption, "&Формат отображения"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearValue__Caption, "&Значения"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aClearBorders__Caption, "&Границы"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewHeaders__Caption, "&Заголовки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewHeaders__Hint, "Заголовки"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewFormula__Caption, "&Формула"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aViewFormula__Hint, "Формула"
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOptions__Caption, "&Параметры..."
  svgrResStringsBase + svgrid__vgr_WorkbookDesigner__aOptions__Hint, "Параметры"
}
 