#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_ReportDesigner_SaveChanges, "Сохранить изменения в '%s'?"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_NewTemplateCaption, "Шаблон"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_ReportTabSheetCaption, "Шаблон"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_TemplateOpenSaveDialogFilter, "Шаблоны отчетов (*.grt)|*.grt|Все файлы (*.*)|*.*"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_TemplateOpenSaveDefaultExt, "grt"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_ReportTreeNodeCaption, "Отчет"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_HorzBandsTreeNodeCaption, "Горизонтальные бэнды"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_VertBandsTreeNodeCaption, "Вертикальные бэнды"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_Insert, "Вставка"
  svgrResStringsBase + svgrid_vgr_ReportDesigner_Overwrite, "Замена"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__tbScript__Caption, "Скрипт"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__PScript__Caption, "Скрипт"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__mInsertHorzBand__Caption, "&Горизонтальный бэнд"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__mInsertVertBand__Caption, "&Вертикальный бэнд"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aReportOptions__Caption, "Параметры отчета..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aReportOptions__Hint, "Параметры отчета..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aFormatHorzBand__Caption, "&Горизонтальный бэнд..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aFormatHorzBand__Hint, "Параметры горизонтального бэнда"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aFormatVertBand__Caption, "&Вертикальный бэнд..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aFormatVertBand__Hint, "Параметры вертикального бэнда"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aSyntaxCheck__Caption, "Проверка синтаксиса"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aSyntaxCheck__Hint, "Проверка синтаксиса"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aProperties__Caption, "Свойства..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aProperties__Hint, "Свойства..."
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aDeleteEvent__Caption, "Удалить обработчик"
  svgrResStringsBase + svgrid__vgr_ReportDesigner__aDeleteEvent__Hint, "Удалить обработчик"
}
 