#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_WorkbookPreviewForm_StatusBarFormatMask, "Страница %d из %d"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__vgrWorkbookPreviewForm__Caption, "Предварительный просмотр"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPrint__Caption, "Печать..."
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPrint__Hint, "Печать..."
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aEditPageParams__Caption, "Параметры страницы..."
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aEditPageParams__Hint, "Параметры страницы..."
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomPageWidth__Caption, "По ширине страницы"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomPageWidth__Hint, "По ширине страницы"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomWholePage__Caption, "Страница целиком"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomWholePage__Hint, "Страница целиком"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoom100Percent__Caption, "В натуральную величину"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoom100Percent__Hint, "В натуральную величину"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aFirstPage__Caption, "Первая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aFirstPage__Hint, "Первая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPriorPage__Caption, "Предыдущая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aPriorPage__Hint, "Предыдущая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNextPage__Caption, "Следующая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNextPage__Hint, "Следующая страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aLastPage__Caption, "Последняя страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aLastPage__Hint, "Последняя страница"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aHandTool__Caption, "Таскать"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aHandTool__Hint, "Таскать"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomInTool__Caption, "Увеличить"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomInTool__Hint, "Увеличить"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomOutTool__Caption, "Уменьшить"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomOutTool__Hint, "Уменьшить"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNoneTool__Caption, "Курсор"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aNoneTool__Hint, "Курсор"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__CloseSpeedButton__Hint, "Закрыть"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__CloseSpeedButton__Caption, "Закрыть"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomTwoPages__Caption, "Две страницы"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__aZoomTwoPages__Hint, "Две страницы"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__Hint, "Несколько страниц"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__CloseCaption, "Отмена"
  svgrResStringsBase + svgrid__vgr_WorkbookPreviewForm__MultiPageButton__PagesCaption, "Страниц: %d x %d"
}
 