#include "..\..\Source\vgr_StringIDs.pas"

STRINGTABLE
{
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaAuto, "По значению"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaLeft, "По левому краю"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaCenter, "По центру"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrhaRight, "По правому краю"

  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaTop, "По верхнему краю"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaCenter, "По центру"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_vgrvaBottom, "По нижнему краю"

  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_MergeWarning, "Выделенная область содержит несколько значений данных. Объединение ячеек приведет к потере всех значений, кроме левого верхнего."
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryNumeric, "Числовой"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryDate, "Дата"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryTime, "Время"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryDateTime, "Дата/время"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryText, "Текст"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryAll, "(все форматы)"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_FormatCategoryCommon, "Общий"
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_SelectCategoryMessage, "Выберите вид форматирования."
  svgrResStringsBase + svgrid_vgr_CellPropertiesDialog_NoFormatMessage, "Значение будет отображаться без форматирования"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrCellPropertiesForm__Caption, "Формат ячеек"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bOk__Caption, "OК"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bCancel__Caption, "Отмена"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Alignment__Caption, "Выравнивание"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__TabSheet1__Caption, "Шрифт"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__TabSheet2__Caption, "Граница"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Patterns__Caption, "Вид"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label1__Caption, "Выравнивание"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label6__Caption, "Отображение"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label14__Caption, "Все"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label16__Caption, "Отдельные"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label22__Caption, "Заливка ячеек"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label3__Caption, "По горизо&нтали:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label4__Caption, "По &вертикали:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label2__Caption, "&градусов"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label5__Caption, "Угол поворота:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label7__Caption, "&Шрифт:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label8__Caption, "&Начертание:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label9__Caption, "&Размер:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label10__Caption, "&Цвет:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label24__Caption, "Ко&дировка:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__FontPreview__Caption, "АаBbБбЯя"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label20__Caption, "Нажатием на кнопки можно выбрать необходимые границы"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label17__Caption, "Нет"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label18__Caption, "Снаружи"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label19__Caption, "Внутри"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label21__Caption, "&Цвет:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label11__Caption, "&Тип:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label12__Caption, "То&лщина:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label13__Caption, "Цвет &заливки:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label15__Caption, "Цвет &штриховки:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label23__Caption, "&Тип заливки:"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bDefault__Caption, "По умолчанию"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbWrapText__Caption, "Перено&с слов"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbMergeCells__Caption, "О&бъединение"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleBold__Caption, "Полу&жирный"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleItalic__Caption, "&Курсив"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleUnderline__Caption, "&Подчеркивание"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__cbFontStyleStrikeout__Caption, "&Зачеркнутый"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox1__Caption, "Ориентация"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox3__Caption, "Образец"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox4__Caption, "Линия"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox2__Caption, "Образец"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bAddFormat__Caption, "&Добавить"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__bDeleteFormat__Caption, "&Удалить"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Formats__Caption, "Число"
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrBevelLabel1__Caption, "&Форматы: "
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__vgrBevelLabel2__Caption, "&Тип: "
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__Label26__Caption, ""
  svgrResStringsBase + svgrid__vgr_CellPropertiesDialog__GroupBox5__Caption, " Образец: "
}
 
